@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #6a0dad;     /* Example: purple */
  --accent-color: #f59e0b;      /* Example: amber */
}

*{
      font-family: "Roboto", sans-serif;
}